h2 {
  margin: 0;
  text-align: center;
}
p span {
  display: inline-block;
}

.card {
  &__item {
    display: inline-block;
    border-radius: 1rem;
    border: 1px #546e7a solid;
    color: #546e7a;
    text-align: left;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
    &:focus {
      border: 4px solid red;
    }
    &--selected {
      border: 2px solid red;
    }
  }
}
